<!DOCTYPE html>
<html>
  <head>
    <title>Orderlist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <!-- 一度だけ読み込むように修正 -->
    <%= stylesheet_link_tag 'orders', media: 'all' %> 

  </head>

  <body>
    <%= yield %>
  </body>
</html>
